@model CVWebApp.Models.Esperienza

<!DOCTYPE html>
<html>
<head>
    <title>Inserisci Esperienza</title>
</head>
<body>
    <h1>Inserisci Esperienza</h1>
    <form asp-action="InserisciEsperienza" method="post">
        <p>Azienda: <input type="text" asp-for="Azienda" /></p>
        <p>Job Title: <input type="text" asp-for="JobTitle" /></p>
        <p>Dal: <input type="date" asp-for="Dal" /></p>
        <p>Al: <input type="date" asp-for="Al" /></p>
        <p>Descrizione: <input type="text" asp-for="Descrizione" /></p>
        <p>Compiti: <input type="text" asp-for="Compiti" /></p>
        <p><input type="submit" value="Salva" /></p>
    </form>
</body>
</html>
