
html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    background-image:linear-gradient(230deg, #362ded, #de1ecf);
    height: 100vw;
    background-repeat: no-repeat;
    font-family: 'Outfit', sans-serif;
    color: #ebebeb;
    font-family: "Poppins", sans-serif;;

  }

  h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
  }

.contenitore {
    width: 60%;
    margin: auto;
    margin-top:5vw ;
}

#tabellone{
display: flex;
flex-wrap: wrap;
  background-color: #2b2593;
  color: #ebebeb;
  border-radius: 8px;
  height: auto;
}

.cella{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cb26af;
}

.Btn{
    width: 10%;
    margin-top: 20px;
    padding: 5px;
    background-color: #ebebeb;
    border: none;
    text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper input{ 
  width: 30%;
  margin-top: 20px;
}

.wrapper button{
  border-radius: 15px;
  width: 30%;
  
}

#randNum{ text-align: center;}

.evidenziato{
 background-color: yellowgreen;
}