@import url('https://fonts.googleapis.com/css2?family=Honk&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

/*unità di misura*/
p{font-size: 30px;}
p{font-size: 1em;} /*proporzianle all'elemento parent*/
p{font-size: 1.1rem;}/*proporziati all'elemento root*/

div{ width: 50%; margin-left: 25%;} /*proporzianaleall'elemto parent*/

/*vw viewport widdth--> si riferisce alla largezza della viewport*/
/*vh viewport heigt --> si riferisce all'altezza della viewport*/


/*esempio*/
p{font-size: 90%}  /* div - 16px --> - 14px*/
p{font-size: 0.8em}  /* div - 16px --> - 12px*/
p{font-size: 0.5rem}  /* div - 16px --> - 8px*/
p{font-size: 1.6vw}  /* viewport 400px --> - 3.6px*/

/*colori*/

article p{ color: blueviolet;} /*keyword*/
article p{ color: #ff0000; font-size: 1.1rem;} /*esadecimale*/

/*font*/
section p{ font-family: 'Courier New', Courier, monospace;}

section p{ font-family: "Roboto", sans-serif;}

#secondo {
    font-size: 1.1em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5;

}

div p{
    color: blue;
    text-align: justify;
    text-indent: 2em;
    text-transform: uppercase;
}

/*Aggiunger ombre hai test*/ 

h1 {
    text-shadow: 4px 4px 12px #666;
    /*
    1 valore --> spostamento dell'ombra 
    2 valore --> spostamento verticale
    3 valore--> spread sfocatura 
    4 valore --> colore
    */
}
 