#container{
    width: 1024px;
    border: 1px solid black;
    margin: 0 auto ;
}

/*************************HEADER************************/

header{
    background-color: gray;
    padding: 3em;
    text-align: center;
}

header h1 {
    margin: 0;
    color: aquamarine;
}

nav{
    background: aquamarine;
    padding: 10px;
    height: 50px;
}

nav ul{
    list-style-type: none;
}

nav li {
    float: left;
    width: 25%;
    text-align: center;
    border-right: 1px solid white;
}

#ultimo { border-right: none;
            width: 24%;            
}

nav a{
    color: black;
    text-decoration: none;
    display: block;
}

/*pseudo classi hover è uno stato è una situazione particoloare del link*/

nav a:hover{
    text-decoration: underline;
    color: red;
    background-color: blueviolet;
}

/***************************************Parte centrale*******************************************/

main{padding: 10px;}

.sx{
    float: left;
    padding-right: 10px;
    width: 200px;
    height: 150px;
}

.dx{
    float:right;
    padding-left: 10px;
    width: 200px;
    height: 150px;
}

article p{ text-align: justify;}

section{
    border: 1px dotted black ;
    border-radius: 10px;
    padding: 20px;
    background-color: aqua;
}

footer{
    background-color: gray;
    text-align: center;
    border-bottom: 4px solid blue;
}

footer p{
    margin: 0;

line-height: 2em;
}