
@import "../partial/reset.scss";
@import"../partial/header.scss";
@import"../partial/nav.scss";
@import"../partial/body.scss";
@import"../partial/main.scss"


header; section {
    background-image: linear-gradient(45deg, #d71414, #460202);
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
}
