body{
    background-image:linear-gradient(230deg, #362ded, #de1ecf);
    width: 60%;
    max-width: 700px;
    margin: auto;
    font-family: "Poppins", sans-serif;;
    }

.contenitore{
    margin: 45% 10px;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
}

#Primatask{
    margin: 0;
    padding: 15px;
    text-align: center;
}

#Primatask input{
    width: 80%; 
    border-radius: 15px;
    border:solid 1px gainsboro;
    height: 3vw;
}

#Primatask button{
    background-color: rgb(246, 71, 71);
    width: 15%;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    height: 3vw;
    border:solid 1px gainsboro;
   gap: 5%;
}

.name  { background-color: #ffffff;
    padding-left: 10px;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(75, 145, 250);
    border-radius: 10px;
    border: solid 1px gainsboro;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
}

.name span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
  }
  .name button {
    background-color: rgb(246, 71, 71);
    font-size: 1.1em;
    color: #ffffff;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .completed {
    text-decoration: line-through;
  }