<div class="row">
  <div class="col-4 p-1" *ngFor="let post of posts">
    <div
    [ngClass]="{'bg-primary': post.type =='news', 'bg-info': post.type =='education', 'bg-warning': post.type =='politic'}"
    class="card text-start" *ngIf="post.active == true">
      <div class="card-body">
        <h4 class="card-title">{{post.id}} - {{post.title}}</h4>
        <p class="card-text">{{post.body}}</p>
        <p class="card-text text-secodary">{{post.type}}</p>
        <button class="btn btn-danger" (click)="post.active = false">DISATTIVA</button>
      </div>
    </div>
  </div>
</div>
