<h2>Post in evidenza</h2>
<div id="featured-post" *ngIf="firstPost">
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">{{firstPost.title}}</h5>
      <p class="card-text">{{firstPost.body}}</p>
    </div>
  </div>

</div>
<h2>Tutti i post</h2>
<div class="row">
  <div class="col-12 col-mg-6 col-lg-3" *ngFor="let p of postArr">

<div class="card" >
  <div class="card-body">
    <h5 class="card-title">{{p.title}}</h5>
    <p class="card-text">{{p.body}}</p>
  </div>
</div>
</div>
</div>

<h2>Post che ti porebbero piacere</h2>

<div class="row">
  <div class="col-12 col-mg-6 col-lg-3" *ngFor="let p of postArr">

<div class="card" >
  <div class="card-body">
    <h5 class="card-title">{{p.title}}</h5>
    <p class="card-text">{{p.body}}</p>
  </div>
</div>
</div>
</div>
